<div class="container">
    <p-menu [model]="items" styleClass="w-full md:w-15rem">
        <ng-template pTemplate="start">
            <span class="inline-flex align-items-center gap-1 px-2 py-2">
                <span>PRIME<span class="text-primary">APP</span></span>
            </span>
        </ng-template>
        <ng-template pTemplate="submenuheader" let-item>
            <span class="items">{{ item.label }}</span>
        </ng-template>
        <ng-template pTemplate="item" let-item>
            <a pRipple class="flex align-items-center p-menuitem-link sub-itmes">
                <span [class]="item.icon"></span>
                <span class="sub-itmes-label">{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="profile">
                <p-avatar class="avatar" image="assets/user-6.jpg"
                    shape="circle" />
                <div class="profile-info">
                    <span class="profile-name">Aubriana</span>
                    <span class="profile-role">Admin</span>
                </div>
            </div>
        </ng-template>
    </p-menu>
</div>