<div class="contact-card">
  <div class="profile-pic">
    <img src="assets/BeardMan.png" alt="Profile Picture">
  </div>
  <h2>Johnathan Doe</h2>
  <p class="role">Web Designer</p>
  
  <div class="actions">
    <button class="chat">Chat</button>
    <button class="follow">Follow</button>
  </div>
  
  <p class="address">795 Folsom Ave, Suite 600<br>San Francisco, NY, 10003</p>
  <p class="phone">Mo: (123) 456-7890</p>
  <p-divider></p-divider>

<div class="social-stats">
  <div>
    <img src="assets/facebook.png" alt="Profile Picture">
    <span class="count">254</span>
  </div>
  <div>
    <img src="assets/twitter.png" alt="Profile Picture">
    <span class="count">54</span>
  </div>
  <div>
    <img src="assets/instagram.png" alt="Profile Picture">
    <span class="count">154</span>
  </div>
</div>
</div>

