<p-button (onClick)="op.toggle($event)" icon="pi pi-edit" />
    <p-overlayPanel #op>
      <p-button label="Delete" (onClick)="delete()" />
      <div>
        <p-button label="Edit" (onClick)="edit()" />
        <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible">
            <app-add-contact></app-add-contact>
        </p-dialog>
      </div>
    </p-overlayPanel>

<div class="contact-card">
  <div class="profile-pic">
    <img src="assets/BeardMan.png" alt="Profile Picture">
  </div>
  <h2>{{contact?.name}}</h2>
  <p class="role">{{contact?.job}}</p>
  
  <div class="actions">
    <button class="chat">Chat</button>
    <button class="follow">Follow</button>
  </div>
  
  <p class="address">{{contact?.address}}</p>
  <p class="phone">{{contact?.email}}</p>
  <p-divider></p-divider>

<div class="social-stats">
  <div>
    <img src="assets/facebook.png" alt="Profile Picture">
    <span class="count">254</span>
  </div>
  <div>
    <img src="assets/twitter.png" alt="Profile Picture">
    <span class="count">54</span>
  </div>
  <div>
    <img src="assets/instagram.png" alt="Profile Picture">
    <span class="count">154</span>
  </div>
</div>
</div>

