.container {
  display: flex;
  height: 100vh;
  padding-top: 20px;
}


.content-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-menu-bar {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-content {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
}